@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Titillium+Web:wght@200&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #3333ff
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #3333ff
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Blog Previews   */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #3333ff;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/* Create a new blog */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #3333ff;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #3333ff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

#link {
  padding: 10px 10px 10px 0px;
}

.delete {
  background: #3333ff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top:10px;
}

.blog-body {
  margin-top: 10px;
}

.img-container {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.slideStyles {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("./img/bucky-barnes.jpeg");

}